CineHitss/Connected Services/CineHitssService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CineHitssApi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CineHitssApi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53797/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Pelicula">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clasification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Costo" type="xs:int" />
      <xs:element minOccurs="0" name="Duracion" type="ser:duration" />
      <xs:element minOccurs="0" name="GeneroID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sinopsis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pelicula" nillable="true" type="tns:Pelicula" />
  <xs:complexType name="ArrayOfPelicula">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pelicula" nillable="true" type="tns:Pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPelicula" nillable="true" type="tns:ArrayOfPelicula" />
  <xs:complexType name="ArrayOfCartelera">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cartelera" nillable="true" type="tns:Cartelera" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartelera" nillable="true" type="tns:ArrayOfCartelera" />
  <xs:complexType name="Cartelera">
    <xs:sequence>
      <xs:element minOccurs="0" name="CineID" type="xs:int" />
      <xs:element minOccurs="0" name="Horario" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PeliculaID" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cartelera" nillable="true" type="tns:Cartelera" />
  <xs:complexType name="ArrayOfCine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cine" nillable="true" type="tns:Cine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCine" nillable="true" type="tns:ArrayOfCine" />
  <xs:complexType name="Cine">
    <xs:sequence>
      <xs:element minOccurs="0" name="CiudadID" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cine" nillable="true" type="tns:Cine" />
</xs:schema>